@use "../mixin/icons" as *;
@use "../mixin/zIndex";
@use "../theme/theme";

.reactodia-dropdown {
  position: relative;
  float: left;
  z-index: zIndex.$dropdown;

  &__content {
    position: absolute;
    opacity: 1;
    display: flex;
    flex-direction: column;

    transition: opacity 0.1s ease-in-out;
  }

  &--expanded &__content {
    box-shadow: theme.$canvas-box-shadow;
  }

  &--collapsed &__content {
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: none;
  }
}

.reactodia-dropdown-menu {
  .reactodia-dropdown--expanded &__toggle {
    border-bottom: none;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }

  &__toggle {
    &::before {
      @include codicon("menu");
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: theme.$background-color-surface;
  }

  .reactodia-dropdown-menu-item {
    border-radius: unset;
  }

  .reactodia-dropdown-menu-item:first-child {
    border-top-right-radius: theme.$button-border-radius;
  }

  .reactodia-dropdown-menu-item:last-child {
    border-bottom-left-radius: theme.$button-border-radius;
    border-bottom-right-radius: theme.$button-border-radius;
  }
}

.reactodia-dropdown-menu-item {
  & ~ & {
    margin-top: calc(-1 * theme.$button-border-width);
    border-top-color: theme.$button-default-border-color;
  }
  &--disabled, &--disabled:hover {
    color: theme.$button-default-color;
    background-color: theme.$input-background-color-disabled;
    cursor: not-allowed;
    opacity: .65;
  }
}
