@import "../mixin/icons";
@import "../mixin/z-index";
@import "../theme/variables";

.reactodia-dropdown {
  position: relative;
  float: left;
  z-index: $z-index-dropdown;

  &__content {
    position: absolute;
    opacity: 1;
    background: $reactodia-background-surface-color;
    display: flex;
    flex-direction: column;

    transition: opacity 0.1s ease-in-out;
  }

  &--expanded &__content {
    box-shadow: 0 4px 15px 7px rgba(51, 51, 51, 0.05);
  }

  &--collapsed &__content {
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: none;
  }
}

.reactodia-dropdown-menu {
  .reactodia-dropdown--expanded &__toggle {
    border-bottom: none;
    background-color: #bfbfbf;
  }

  &__toggle {
    &::before {
      @include codicon("menu");
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.reactodia-dropdown-menu-item {
  & ~ & {
    margin-top: -1px;
    border-top-color: #eee;
  }
  &--disabled, &--disabled:hover {
    background-color: #e0e0e0;
    cursor: not-allowed;
    opacity: .65;
  }
}
