@import "../theme/variables";

.reactodia-list-element-view {
  position: relative;
  display: block;
  background: var(--reactodia-element-style-color);
  padding: 1px 1px 1px 10px;
  border-radius: 2px;
  margin: 0 0 2px 0;
  opacity: 1.0;
  cursor: move;

  -webkit-user-select: none;
  user-select: none;

  &--disabled {
    opacity: 0.4;
    cursor: default;
  }

  &__label {
    background: $reactodia-element-background-color;
    border-radius: 0 2px 2px 0;
    font-family: "Andale Mono", sans-serif;
    font-size: 15px;
    min-height: 1.3em;
    padding-left: 7px;
    padding-right: 5px;
    overflow-wrap: break-word;
  }

  &--selected &__label {
    color: $reactodia-color-content-contrast;
  }
}

.reactodia-text-highlight {
  font-weight: bold;
}
