@use "../mixin/icons" as *;
@use "../theme/theme";

.reactodia-search-input {
  display: flex;

  &__input {
    &::placeholder {
      color: theme.$input-color-placeholder;
    }
  }

  &--has-submit &__input {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }

  &__clear-container {
    width: 0;
    overflow: visible;
    display: flex;
    align-items: center;
  }

  &__clear {
    position: relative;
    left: -33px;
    padding: 8px;
    cursor: pointer;
    color: theme.$button-default-color;
    background: transparent;
    border: 0;
    border-top-right-radius: theme.$input-border-radius;
    border-bottom-right-radius: theme.$input-border-radius;
    transition: background-color theme.$transition-duration;

    &:hover {
      color: theme.$button-default-color-focus;
      background-color: theme.$button-default-background-color-focus;
    }

    &::after {
      @include codicon("close");
    }
  }

  &--has-submit &__clear {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }

  &__submit  {
    margin-left: -1px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;

    &::before {
      @include codicon("search");
    }
  }
}
