@use "../mixin/zIndex";
@use "../theme/theme";

.reactodia-accordion {
  flex: auto;
  display: flex;
  height: 100%;
  width: 100%;

  &--scrollable {
    overflow: auto;
  }

  &--vertical {
    flex-direction: column;
  }

  &--vertical:not(&--resizing) > .reactodia-accordion-item {
    transition: height theme.$transition-duration ease-in-out;
  }
}

.reactodia-accordion-item {
  display: flex;
  position: relative;
  flex: auto;

  &--resizing > &__handle, &__handle:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &--vertical {
    border-top: theme.$border-width-base solid theme.$border-color-base;

    &:first-child {
      border-top-width: 0;
    }
  }

  &--horizontal {
    border-right: theme.$border-width-base solid theme.$border-color-base;

    &:last-child {
      border-right-width: 0;
    }
  }

  &__handle {
    position: absolute;
    z-index: zIndex.$accordion-handle;
  }

  &__handle-vertical {
    height: 5px;
    bottom: -2.5px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
  }

  &__handle-horizontal {
    height: 100%;
    top: 0;
    right: -2.5px;
    width: 5px;
    cursor: ew-resize;
  }

  &__handle-btn {
    background-color: theme.$button-default-background-color;
    border: 2px solid theme.$color-primary;
    box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    z-index: zIndex.$accordion-handle-button;
    transition: theme.$transition-duration;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      mask-position: 0 0;
      mask-repeat: no-repeat;
      mask-size: cover;
      content: '';
      height: 16px;
      width: 16px;
      transition: opacity filter theme.$transition-duration;
      color: theme.$color-emphasis-700;
      background-color: currentColor;
    }

    &:hover {
      background-color: theme.$color-primary;
    }

    &:hover::before {
      opacity: 1;
      color: theme.$color-white;
    }
  }

  &__handle-btn-left {
    left: 100%;
    margin-left: -10px;

    &::before {
      -webkit-mask-image: url("@codicons/chevron-left.svg");
      mask-image: url("@codicons/chevron-left.svg");
    }
  }

  &__handle-btn-right {
    right: 100%;
    margin-right: -10px;

    &:before {
      -webkit-mask-image: url("@codicons/chevron-right.svg");
      mask-image: url("@codicons/chevron-right.svg");
    }
  }

  &--collapsed &__handle-btn:before {
    transform: rotate(180deg);
  }

  &__inner {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__body {
    flex: 1 1 0px; // IE 11 requires a unit to be added to the third argument
    display: flex;
    flex-direction: column;
    background-color: theme.$background-color;
  }

  &__header {
    padding-left: 20px;
    position: relative;

    flex-shrink: 0;
    font-size: 16px;
    background-color: theme.$color-emphasis-200;
    cursor: default;
    /* unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
      border-top: 6px solid theme.$color-emphasis-700;
      border-left: 3.5px solid transparent;
      border-right: 3.5px solid transparent;
      content: "";
      position: absolute;
      top: 50%;
      left: 7px;
      margin-top: -3px;

      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      transition: 0.1s;
    }
  }

  &--collapsed &__inner {
    background-color: theme.$background-color-surface;
  }

  &--collapsed &__header:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  &--collapsed &__body {
    display: none;
  }
}
