@import "../mixin/icons";

$toolbarHeight: 30px;

.reactodia-toolbar {
  position: absolute;
  left: 10px;
  top: 10px;

  &__save-button {
    @include codicon-button("save");
  }

  &__undo-button {
    &::before {
      @include codicon("discard");
      width: 18px;
      height: 18px;
    }
  }

  &__redo-button {
    &::before {
      @include codicon("redo");
      width: 18px;
      height: 18px;
    }
  }

  &__clear-all-button {
    @include codicon-button("trash");
  }

  &__layout-button {
    @include codicon-button("type-hierarchy-sub");
  }

  &__export-button {
    @include codicon-button("file-media");
  }

  &__print-button {
    @include codicon-button("file-pdf");
  }

  &__language-selector {
    margin-left: 5px;
    margin-right: 5px;

    > label {
      background: white;
      margin-right: 5px;
      > span { vertical-align: middle; }
    }

    > select {
      height: $toolbarHeight;
    }
  }

  &__layout-group {
    float: left;
    margin-left: 5px;
    height: $toolbarHeight;
  
    > label {
      margin-right: 5px;
    }
  
    button {
      height: 100%;
    }
  }
}
