.reactodia-workspace {
  display: flex;
  flex-direction: column;
  height: 100%;

  /* Defaults for inheritable properties */
  box-sizing: border-box;
  white-space: initial;
  color: #333;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.42857;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.reactodia-scrollable {
  flex: 1 1 0px;
  overflow-y: scroll;
}

// fixes the bug in Chrome with redrawing children in scrollable elements
.reactodia-scrollable > * {
  position: relative;
}
