@import "../mixin/defaults";

.reactodia-workspace {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include inheritable-defaults;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.reactodia-scrollable {
  flex: 1 1 0px;
  overflow-y: scroll;
}

// fixes the bug in Chrome with redrawing children in scrollable elements
.reactodia-scrollable > * {
  position: relative;
}
