# http://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{js,jsx,mjs,ts,tsx,mts}]
indent_style = space
indent_size = 4

[*.config.js]
indent_style = space
indent_size = 2

[webpackServe.js]
indent_style = space
indent_size = 2

[*.{css,scss}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
