@import "../theme/variables";

@mixin inheritable-defaults {
  /* Defaults for inheritable properties */
  box-sizing: border-box;
  white-space: initial;

  color: $reactodia-font-color-base;
  font-family: $reactodia-font-family-base;
  font-size: $reactodia-font-size-base;
  line-height: $reactodia-line-height-base;
}
