@import "../theme/variables";

@mixin icon($url) {
  -webkit-mask: url($url);
  mask: url($url);
  mask-size: contain;
  mask-position: 0 0;
  mask-repeat: no-repeat;
  background-color: currentColor;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
}

@mixin codicon($name) {
  @include icon("@codicons/" + $name + ".svg")
}

@mixin codicon-button($name) {
  display: flex;
  align-items: center;

  &::before {
    @include codicon($name);
    margin-right: 3px;
  }
}
