@use "../theme/theme";

@mixin icon($url) {
  -webkit-mask: url($url) 0px 0px / contain no-repeat;
  mask: url($url) 0px 0px / contain no-repeat;
  background-color: currentColor;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
}

@mixin codicon($name) {
  @include icon("@codicons/" + $name + ".svg")
}

@mixin codicon-button($name) {
  display: flex;
  align-items: center;

  &::before {
    @include codicon($name);
  }

  &:not(:empty)::before {
    margin-right: 3px;
  }
}
