@mixin icon($url) {
  background-image: url($url);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
}

@mixin codicon($name) {
  @include icon("@codicons/" + $name + ".svg")
}

@mixin codicon-button($name) {
  display: flex;
  align-items: center;

  &::before {
    @include codicon($name);
    margin-right: 3px;
  }
}
