.reactodia-overlaid-element {
  cursor: move;
  outline: none;

  // http://stackoverflow.com/questions/6664460/line-height-affects-images
  img { vertical-align: middle; }

  &--blurred {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

.reactodia-element-decorations {
  pointer-events: none;

  & > div > * {
    pointer-events: initial;
  }
}
