.reactodia-overlaid-element {
  cursor: move;
  outline: none;

  &--blurred {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

.reactodia-overlaid-element,
.reactodia-exported-element {
  // http://stackoverflow.com/questions/6664460/line-height-affects-images
  img { vertical-align: middle; }
}
