@use "../theme/theme";

.reactodia-link {
  &--blurred {
    opacity: 0.5;
  }
}

.reactodia-link-path {
  &__wrap {
    stroke-width: 12px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: transparent;
    fill: none;
  }
  .reactodia-link:hover &__wrap {
    stroke: theme.$color-emphasis-400;
    opacity: 0.44;
  }
}

.reactodia-link-vertices {
  &__vertex {
    cursor: all-scroll;
  }
  /* Use :not([attr]) selector to avoid overriding the attribute due to SVG style priority. */
  &__vertex:not([fill]) {
    fill: theme.$link-stroke-color;
  }
  .reactodia-link:not(:hover) &__vertex {
    fill: transparent;
  }

  &__handle {
    opacity: 0;
    transition: opacity theme.$transition-duration;
    cursor: pointer;
    > circle { fill: theme.$color-emphasis-500; }
    > path { stroke: theme.$color-emphasis-200; }
    &:hover {
      > circle { fill: theme.$color-emphasis-900; }
    }
  }
  .reactodia-link:hover &__handle {
    opacity: 0.8;
  }
}

.reactodia-link-marker {
  /* Use :not([attr]) selector to avoid overriding the attribute due to SVG style priority. */
  &__path:not([fill]) {
    fill: theme.$link-stroke-color;
  }
}
