@import "../theme/variables";

.reactodia-link {
  &--blurred {
    opacity: 0.5;
  }
}

.reactodia-link-path {
  &__wrap {
    stroke-width: 12px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: transparent;
    fill: none;
  }
  .reactodia-link:hover &__wrap {
    stroke: $reactodia-color-emphasis-400;
    opacity: 0.44;
  }
}

.reactodia-link-vertices {
  &__vertex {
    cursor: all-scroll;
    fill: $reactodia-link-stroke-color;
  }
  .reactodia-link:not(:hover) &__vertex {
    fill: transparent;
  }

  &__handle {
    opacity: 0;
    cursor: pointer;
    > circle { fill: gray; }
    > path { stroke: white; }
    &:hover {
      > circle { fill: black; }
    }
  }
  .reactodia-link:hover &__handle {
    opacity: 0.8;
  }
}

.reactodia-link-marker {
  &__path {
    fill: $reactodia-link-stroke-color;
  }
}
