@use "../mixin/defaults";
@use "../mixin/zIndex";
@use "../theme/theme";

.reactodia-paper-area {
  flex: auto;
  width: 0;
  display: flex;
  position: relative;
  cursor: default;
  background-color: theme.$canvas-background-color;

  &__area {
    flex: auto;
    overflow: scroll;
    touch-action: pan-x pan-y;
    will-change: scroll-position;
  }

  &--hide-scrollbars &__area {
    /* For Firefox */
    scrollbar-width: none;

    /* For Safari, Chrome, etc */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--panning {
    cursor: grabbing;
    
    /* Avoid unnecessary "Hit test" when panning in Chrome/Edge */
    &::before {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      content: ' ';
      z-index: zIndex.$panning-overlay;
    }
  }

  &__widgets {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__watermark {
    background-size: cover;
    width: 8%;
    max-width: 130px;
    min-width: 50px;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity theme.$transition-duration;

    &:hover {
      opacity: 0.5;
    }
  }

  &--animated {
    .reactodia-overlaid-element {
      transition: transform 0.5s ease-in-out;
    }
    .reactodia-link-layer {
      transition: none;
      opacity: 0;
    }
  }

  &--animated &__widgets {
    transition: none;
    opacity: 0;
  }
}

.reactodia-paper {
  position: relative;
}

.reactodia-exported-watermark {
  opacity: 0.3;
  transition: opacity theme.$transition-duration;
}

.reactodia-exported-canvas {
  @include defaults.inheritable-defaults;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}
