.reactodia-paper-area {
  flex: auto;
  width: 0;
  display: flex;
  position: relative;
  cursor: default;
  background: #fff;

  &__area {
    flex: auto;
    overflow: scroll;
    touch-action: pan-x pan-y;
  }

  &--hide-scrollbars &__area {
    /* For Firefox */
    scrollbar-width: none;

    /* For Safari, Chrome, etc */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__widgets {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__watermark {
    background-size: cover;
    width: 8%;
    max-width: 130px;
    min-width: 50px;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  &--animated {
    .reactodia-overlaid-element {
      transition: transform 0.5s ease-in-out;
    }
    .reactodia-link-layer {
      transition: none;
      opacity: 0;
    }
  }

  &--animated &__widgets {
    transition: none;
    opacity: 0;
  }
}

.reactodia-paper {
  position: relative;
}

.reactodia-exported-watermark {
  opacity: 0.3;
  transition: opacity 0.3s;
}
