@import "../theme/variables";

.reactodia-spinner {
  &__arrow {
    animation-name: reactodia-spinner-rotation;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: infinite;
  }

  &__text {
    color: $theme-font-color-base;
  }

  &[data-error='true'] &__arrow {
    color: $theme-color-danger;
    animation-iteration-count: 1;
  }
}

@keyframes reactodia-spinner-rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
