@import "../theme/variables";

.reactodia-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  text-transform: none;
  transition: background-color 0.3s;

  -webkit-user-select: none;
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: .65;
  }
}

.reactodia-btn-default {
  color: $reactodia-button-default-color;
  background-color: $reactodia-button-default-background-color;
  border-color: $reactodia-button-default-border-color;

  &:hover {
    color: $reactodia-button-default-color-focus;
    background-color: $reactodia-button-default-background-color-focus;
  }

  &:active, &.active {
    color: $reactodia-button-default-color-focus;
    background-color: $reactodia-button-default-background-color-active;
  }

  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &[disabled].active {
    background-color: $reactodia-color-secondary-darker;
  }
}

@mixin reactodia-button($foreground, $normal, $dark, $darker, $darkest) {
  color: $foreground;
  background-color: $normal;
  border-color: $darker;

  &:hover, &:focus, &:active {
    background-color: $dark;
  }

  &:hover, &:focus {
    border-color: $darkest;
  }

  &.active {
    border-color: $darker;
  }

  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &[disabled].active {
    background-color: $dark;
  }
}

.reactodia-btn-primary {
  @include reactodia-button(
    $reactodia-color-emphasis-0,
    $reactodia-color-primary,
    $reactodia-color-primary-dark,
    $reactodia-color-primary-darker,
    $reactodia-color-primary-darkest
  );
}

.reactodia-btn-secondary {
  @include reactodia-button(
    $reactodia-color-gray-900,
    $reactodia-color-secondary,
    $reactodia-color-secondary-dark,
    $reactodia-color-secondary-darker,
    $reactodia-color-secondary-darkest
  );
}

.reactodia-btn-success {
  @include reactodia-button(
    $reactodia-color-emphasis-0,
    $reactodia-color-success,
    $reactodia-color-success-dark,
    $reactodia-color-success-darker,
    $reactodia-color-success-darkest
  );
}

.reactodia-btn-warning {
  @include reactodia-button(
    $reactodia-color-emphasis-0,
    $reactodia-color-warning,
    $reactodia-color-warning-dark,
    $reactodia-color-warning-darker,
    $reactodia-color-warning-darkest
  );
}

.reactodia-btn-danger {
  @include reactodia-button(
    $reactodia-color-emphasis-0,
    $reactodia-color-danger,
    $reactodia-color-danger-dark,
    $reactodia-color-danger-darker,
    $reactodia-color-danger-darkest
  );
}
