@use "../theme/theme";

.reactodia-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .reactodia-btn, > .reactodia-btn-group {
    position: relative;
    float: left;
  }

  > .reactodia-btn:hover,
  > .reactodia-btn:focus,
  > .reactodia-btn.active,
  > .reactodia-btn.active:hover {
    z-index: 2;
  }

  .reactodia-btn + .reactodia-btn,
  .reactodia-btn + .reactodia-btn-group,
  .reactodia-btn-group + .reactodia-btn,
  .reactodia-btn-group + .reactodia-btn-group {
    margin-left: calc(-1 * theme.$button-border-width);
  }

  > .reactodia-btn {
    border-radius: unset;
  }

  > .reactodia-btn:first-of-type {
    margin-left: 0;
    border-top-left-radius: theme.$button-border-radius;
    border-bottom-left-radius: theme.$button-border-radius;
  }

  > .reactodia-btn:last-of-type {
    border-top-right-radius: theme.$button-border-radius;
    border-bottom-right-radius: theme.$button-border-radius;
  }

  &-sm > .reactodia-btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
  }

  &-xs > .reactodia-btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
  }
}
