@import "../theme/variables";

.reactodia-default-link {
  &--group .reactodia-link-path {
    stroke-width: 2px;
  }

  &__label-text {
    fill: $reactodia-font-color-base;
    stroke: none;
    stroke-width: 0;
    // font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: inherit;
    font-weight: bold;
  }

  &--renamed &__label-text {
    font-style: italic;
    font-weight: normal;
  }

  &__label-background {
    fill: $reactodia-background-color;
    stroke: none;
    stroke-width: 0;
  }

  &__source-count &__label-text,
  &__target-count &__label-text {
    fill: gray;
    font-size: 12px;
  }

  &__source-count &__label-background,
  &__target-count &__label-background {
    opacity: 80%;
  }

  &__path {
    stroke: $reactodia-link-stroke-color;
  }
}
