@use "../theme/theme";

.reactodia-default-link {
  &--group .reactodia-link-path {
    stroke-width: 2px;
  }

  /* Use :not([attr]) selector to avoid overriding the attribute due to SVG style priority. */
  &__path:not([stroke]) {
    stroke: theme.$link-stroke-color;
  }

  &__label {
    font-weight: bold;
  }

  &__label--renamed {
    font-style: italic;
    font-weight: normal;
  }

  &__property {
    font-style: normal;
    font-weight: normal;
    font-size: 90%;

    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__source-count,
  &__target-count {
    color: theme.$color-emphasis-600;
    font-size: 12px;
    font-weight: bold;
    opacity: 80%;
  }
}
