.reactodia-group-template {
  overflow: hidden;

  &__wrap {
    @extend .reactodia-classic-template;
    max-width: none;
  }

  &__type-line {
    @extend .reactodia-classic-template__type-line;
  }

  &__type-line-icon {
    @extend .reactodia-classic-template__type-line-icon;
  }

  &__type-line-text-container {
    @extend .reactodia-classic-template__type-line-text-container;
  }

  &__type-line-text {
    @extend .reactodia-classic-template__type-line-text;
  }

  &__body {
    @extend .reactodia-classic-template__body;
    overflow: visible;
  }

  &__label {
    @extend .reactodia-classic-template__label;
  }

  &__embedded-layer {
    margin-top: 7px;
  }

  .reactodia-paper__canvas {
    border-color: #fff;
  }
}
