@use "../mixin/icons" as *;
@use "../theme/theme";

.reactodia-group-paginator {
  display: flex;

  &__previous,
  &__next {
    height: 22px;
    padding: 0 5px;
  }

  &__previous {
    @include codicon-button("chevron-left");
  }

  &__next {
    @include codicon-button("chevron-right");
  }

  &__status {
    flex: 60px 0 0;
    text-align: center;
    border-top: theme.$button-border-width solid theme.$button-default-border-color;
    border-bottom: theme.$button-border-width solid theme.$button-default-border-color;
  }

  &__page-size {
    margin-left: 4px;
  }
}
