@import "../mixin/icons";

$standard-template-background: #fafaf9;
$standard-new-entity-stripe: white;

.reactodia-standard-template {
  min-width: 180px;
  max-width: 400px;
  float: left;

  &--group {
    border-radius: 2px;
    border: 1px solid;
    border-color: var(--reactodia-standard-group-color);
    background: $standard-template-background;
    padding: 4px;
  }

  &__main {
    border-radius: 2px;
    border: 1px solid;
    border-color: var(--reactodia-standard-entity-color);
    background-color: var(--reactodia-standard-entity-color);
  }

  &__body {
    margin-left: 8px;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid;
    border-left-color: var(--reactodia-standard-entity-color);
    padding: 3px 0;
    background: $standard-template-background;
  }

  &--new &__main {
    background-color: $standard-new-entity-stripe;
  }

  &__body-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  &__body-content {
    flex-grow: 1;
    min-width: 0;
    margin-right: 12px;
  }

  &__item {
    display: flex;
    border-radius: 2px;
    border: 0px;
  }

  &__item-filler {
    font-size: 15px;
    padding: 3px;
  }

  &__item:not(:first-child),
  &__item-filler:not(:first-child) {
    margin-top: 4px;
  }

  &__item-stripe {
    width: 6px;
    background: var(--reactodia-standard-entity-color);
  }

  &--new &__item-stripe {
    background: $standard-new-entity-stripe;
    border: 1px solid var(--reactodia-standard-entity-color);
  }

  &__item-body {
    flex: auto;
    display: flex;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fafaf9;
  }

  &__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--standalone &__label {
    font-size: 19px;
  }

  &--group &__label {
    font-size: 15px;
    flex: auto;
  }

  &--group &--changed &__label {
    font-style: italic;
    color: rgb(0, 153, 255);
  }

  &--group &--deleted &__label {
    text-decoration: line-through;
    color: rgb(255, 59, 59);
  }

  &__thumbnail {
    font-size: 26px;
    margin: 5px 10px;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--reactodia-standard-entity-color);
  }

  &__thumbnail-image {
    max-height: 100%;
    max-width: 100%;
  }

  &__thumbnail-icon {
    width: 26px;
    height: 26px;
    object-fit: contain;
  }

  &__photo {
    border-bottom: 1px solid;
    border-color: var(--reactodia-standard-entity-color);
  }

  &__photo-image {
    width: 100%;
    border-radius: 2px 2px 0 0;
  }

  &__type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    font-style: italic;
    color: #999;
    display: flex;
  }

  &__type-value {
    width: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__iri {
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  &__iri-key {
    font-size: 12px;
    margin-right: 4px;
    color: #b6b6b6;
  }

  &__iri-value {
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__iri-value a {
    color: #b6b6b6;
  }

  &__hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    margin: 5px 0;
  }

  &__properties {
    font-size: 15px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__properties-row {
    white-space: nowrap;
  }

  &__properties-key {
    display: inline-block;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
  }

  &__properties-values {
    display: inline-block;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__properties-value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    padding-right: 10px;
  }

  &__pinned-props {
    border-top: 1px solid;
    border-color: var(--reactodia-standard-entity-color);
    margin: 0 5px;
  }

  &__dropdown {
    border: 1px solid;
    border-color: var(--reactodia-standard-entity-color);
    border-radius: 2px;
    background-color: white;
    margin-top: 5px;
  }

  &__dropdown-content {
    width: 100%;
    padding: 9px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__delete-button,
  &__edit-button {
    display: flex;
    align-items: center;
    padding: 5px;
    min-width: 60px;
  }

  &__delete-button {
    @include codicon-button("trash");
  }

  &__edit-button {
    @include codicon-button("edit");
  }

  &__ungroup-one-button {
    @include codicon-button("chevron-right");

    width: 18px;
    height: 18px;
    padding: 0px;
    align-self: center;
    margin-left: 2px;

    display: block;
    opacity: 0;
    transition: opacity 200ms 0ms;
  }

  &:hover &__ungroup-one-button,
  &:focus &__ungroup-one-button {
    opacity: 1;
  }

  &--group .reactodia-group-paginator {
    margin-top: 4px;
    opacity: 0.4;
    transition: opacity 200ms 0ms;

    &:hover {
      opacity: 1;
    }
  }
}
