@import "../mixin/icons";

.ontodia-class-tree {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__filter {
    flex-shrink: 0;
    margin: 10px 0 10px 0;
  }

  &__filter-group {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__only-creatable {
    display: block;
    margin-top: 5px;
  }

  &__tree {
    border-top: 1px solid rgb(221, 221, 221);
  }

  &__spinner {
    align-self: center;
    /* center vertically in flexbox */
    margin: auto;
  }
}

.ontodia-class-tree-item {
  margin: 1px 0;

  &__row {
    display: flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    > * { flex-shrink: 0; }
  }

  &__body { 
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    padding: 1px;
    border: 1px solid;
    border-color: transparent;
    &:hover {
      background: #dcebff91;
      border-color: #ccefff;
      cursor: pointer;
    }
    &--selected {
      background-color: #beebff;
      border-color: #8edcff;
    }
  }

  &__icon-container {
    height: 20px;
  }

  &__icon {
    display: block;
    height: 100%;
  }

  &__default-icon-leaf,
  &__default-icon-parent {
    @include codicon("symbol-method");
    width: 20px;
    height: 20px;
  }

  &__label {
    margin-left: 5px;
    color: black;
  }

  &__highlighted-term {
    font-weight: bold;
  }

  &__count {
    margin-left: 5px;
  }

  &__children {
    margin-left: 20px;
  }

  &__toggle,
  &__toggle-expanded,
  &__toggle-collapsed {
    margin: 2px;
  }

  &__toggle-expanded,
  &__toggle-collapsed {
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  &__toggle::before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
  }

  &__toggle-expanded::before {
    @include codicon("triangle-down");
  }

  &__toggle-collapsed::before {
    @include codicon("triangle-right");
  }

  &__create-button {
    margin-left: 5px;
    padding: 5px;
    cursor: move;

    &::before {
      @include codicon("add");
      width: 12px;
      height: 12px;
    }
  }
}
