@use "../mixin/icons" as *;
@use "../theme/theme";

$no-results-color: theme.$color-emphasis-400;

.reactodia-connections-menu {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__breadcrumbs {
    padding: 10px;
    padding-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    min-height: 30px;
    flex-grow: 0;
  }

  &__breadcrumbs-link {
    color: theme.$color-primary;
    cursor: pointer;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }

  &__search {
    padding: 10px;
    align-items: center;
    flex: 0 0 auto;
  }

  &__sort-switches {
    flex: 0 0 20px;
    margin-left: 10px;
  }

  &__sort-switch {
    display: none;
  }

  &__sort-switch:checked + &__sort-switch-label {
    color: theme.$color-primary-light;
    opacity: 1;
  }

  &__sort-switch-label {
    cursor: pointer;
    display: block;
    margin: 0;
    opacity: 0.4;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }

  &__sort-label-alpha {
    &::before {
      @include codicon("symbol-key");
    }
  }

  &__sort-label-smart {
    &::before {
      @include codicon("lightbulb");
    }
  }

  &__spinner {
    align-self: center;
    margin: auto;
  }

  &__links-list {
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid theme.$border-color-base;
    flex-grow: 1;
    margin: 0;
  }
  
  &__links-list-empty {
    display: flex;
    align-items: center;
  }
  
  &__links-no-results {
    width: 100%;
    font-size: x-large;
    font-weight: 700;
    color: $no-results-color;
    text-align: center;
  }

  &__links-probably-label {
    font-weight: 700;
    margin: 5px 0;
  }

  &__links-list-hr {
    border: 0;
    border-top: 1px solid theme.$border-color-base;
    height: 0;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  &__link {
    display: flex;
    overflow: hidden;
    padding: 0 5px 0 0;
    align-items: center;
    margin-bottom: 4px;
    background: theme.$color-emphasis-200;
    border-radius: 2px;

    &:hover {
      background-color: theme.$color-emphasis-400;
    }
  }

  &__link-direction {
    flex-shrink: 0;
    min-height: 30px;
    padding: 5px 0px 5px 10px;
    display: flex;
    align-items: center;
  }

  &__link:not(:hover) &__link-direction {
    background: theme.$color-emphasis-300;
  }

  &__link-direction-in,
  &__link-direction-out {
    mask-position: 0 0;
    mask-size: contain;
    mask-repeat: no-repeat;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    background-color: currentColor;
  }

  &__link-direction-in {
    -webkit-mask-image: url("@images/direction-in.svg");
    mask-image: url("@images/direction-in.svg");
    margin: 0 14px 0 0;
  }
  
  &__link-direction-out {
    -webkit-mask-image: url("@images/direction-out.svg");
    mask-image: url("@images/direction-out.svg");
    margin: 0 8px 0 6px;
  }

  &__link-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0px 5px 5px;
  }

  &__link-count {
    flex-shrink: 0;
    margin-left: 10px;
  }

  &__link-navigate-button {
    flex-shrink: 0;
    float: right;
    -webkit-mask-image: url("@codicons/chevron-right.svg");
    mask-image: url("@codicons/chevron-right.svg");
    mask-size: cover;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-left: 10px;
    min-width: 16px;
    background-color: currentColor;
    &:hover { opacity: 1; }
  }

  &__link-filter-button {
    flex-shrink: 0;
    -webkit-mask-image: url("@images/add-to-filter.svg");
    mask-image: url("@images/add-to-filter.svg");
    mask-size: 20px 20px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    margin-left: 10px;
    background-color: currentColor;
    &:hover { opacity: 1; }
  }
  
  &__move-to-filter {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;
  
    &:hover {
      color: theme.$button-default-color-focus;
      background-color: theme.$button-default-background-color-focus;
    }
  }

  &__objects {
    flex-grow: 1;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  &__objects-select-all {
    white-space: nowrap;
    margin-bottom: 5px;
    display: flex;

    input {
      margin-right: 5px;
      &:disabled { opacity: 0.3 }
    }
  }

  &__objects-loading,
  &__objects-no-results {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $no-results-color;
    margin-bottom: 5px;
  }
  
  &__objects-no-results {
    position: relative;
    font-size: x-large;
    font-weight: 700;
    color: $no-results-color;
  }

  &__objects-list {
    border: theme.$border-width-base solid theme.$border-color-base;
    border-radius: theme.$border-radius-base;
    height: 0;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    margin-bottom: 5px;
  }

  &__objects-statusbar {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    white-space: nowrap;
  }

  &__objects-extra {
    color: theme.$color-emphasis-600;
    cursor: help;
  }

  &__objects-spacer {
    flex: auto;
  }

  &__objects-add-button {
    height: 25px;
    padding-top: 1px;
    padding-bottom: 2px;

    &:not(:last-child) {
      margin-right: theme.$spacing-horizontal;
    }
  }
}
