@import "../mixin/icons";
@import "../mixin/draggable-handle";
@import "../mixin/z-index";
@import "../theme/variables";

.reactodia-dialog {
  background: $theme-background-color-surface;
  border: 1px solid #ccc;
  box-shadow: 0 4px 15px 7px rgba(51, 51, 51, 0.05);
  position: absolute;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
  }

  &__caption {
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    margin: 8px 0 0 8px;
  }

  &__close-button {
    border: none;
    padding: 6px;
    background: none;
    color: $theme-button-default-color;

    transition: background-color 0.3s;
  
    &::before {
      @include codicon("close");
    }

    &:hover {
      color: $theme-button-default-color-focus;
      background-color: $theme-button-default-background-color-focus;
    }
  }

  &__bottom-handle {
    @include draggable-handle-s;
  }

  &__right-handle {
    @include draggable-handle-e;
  }

  &__bottom-right-handle {
    @include draggable-handle-se;
  }
}

.reactodia-viewport-dialog-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $z-index-viewport-dialog;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background: rgba(255, 255, 255, 0.55);
}
