.reactodia-halo-link {
  &__label-highlight {
    position: absolute;
    pointer-events: none;
    border-bottom: 2px solid #d8956d;
  }

  &__path-highlight {
    fill: none;
    /* Invisible by default but allows to be customized externally */
  }
}
