@import "../mixin/icons";

.reactodia-instances-search {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__criteria {
    flex-shrink: 0;
    margin: 10px 0 10px 0;
  }

  &--controlled &__criteria {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__criterions {
    padding-left: 15px;
    margin-bottom: 10px;
    &:empty { margin-bottom: 0; }
  }

  &__criterion {
    display: block;
    position: relative;
    width: 100%;
  }

  &__criterion-class {
    border: black 1px dashed;
    background: rgb(255, 210, 33);
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
  }

  &__criterion-element {
    border: black 1px dashed;
    background: rgb(255, 131, 92);
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
  }

  &__criterion-link-type {
    border: black 1px dashed;
    background: rgb(202, 255, 206);
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
  }

  &__link-direction {
    height: 1em;
    opacity: 0.5;
    vertical-align: middle;
  }

  &__criterion-remove {
    float: right;
    margin: 0 10px 4px 4px;
  }
  &__criterion-remove-button {
    &::before {
      @include codicon("close");
    }
  }

  &__text-criteria { margin: 0 10px; }

  &__search-button {
    height: 34px;

    &::before {
      @include codicon("search");
    }
  }

  &__rest {
    padding: 10px 10px 0 10px;
    border-top: 1px solid rgb(221, 221, 221);
  }

  &__results {
    padding-left: 0;
    padding-top: 10px;
    margin: 0 10px 0 10px;
    outline: none;
  }

  &[data-state='finished'] &__results:empty:before {
    content: 'No items correspond to the specified criteria.';
    font-style: italic;
  }

  &__rest-end { margin: 5px 0 10px 0; }
  &__load-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      @include codicon("chevron-down");
      margin-right: 5px;
      filter: invert(100%);
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    border-top: 1px solid rgb(221, 221, 221);
    transition: height 200ms 0ms;
  }

  &__actions-hidden {
    height: 0;
    padding: 0;
  }

  &__action {
    padding-top: 1px;
    padding-bottom: 2px;

    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    &:last-child {
      margin-right: 6px;
    }
  }
}
