@import "../mixin/icons";
@import "../theme/variables";

.reactodia-instances-search {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__criteria {
    flex-shrink: 0;
    margin: 10px 0 10px 0;
  }

  &--controlled &__criteria {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__criterions {
    padding-left: 15px;
    margin-bottom: 10px;
    &:empty { margin-bottom: 0; }
  }

  &__criterion {
    display: block;
    position: relative;
    width: 100%;
  }

  &__criterion-class {
    border: $theme-color-primary 1px dashed;
    color: $theme-color-primary-contrast-foreground;
    background-color: $theme-color-primary-contrast-background;
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
  }

  &__criterion-element {
    border: $theme-color-primary 1px dashed;
    color: $theme-color-primary-contrast-foreground;
    background-color: $theme-color-primary-contrast-background;
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
  }

  &__criterion-link-type {
    border: $theme-color-primary 1px dashed;
    color: $theme-color-primary-contrast-foreground;
    background-color: $theme-color-primary-contrast-background;
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
  }

  &__link-direction-in,
  &__link-direction-out {
    display: inline-block;
    width: 1em;
    height: 1em;
    opacity: 0.5;
    vertical-align: middle;
    mask-position: 0 0;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: currentColor;
  }

  &__link-direction-in {
    -webkit-mask-image: url("@images/direction-in.svg");
    mask-image: url("@images/direction-in.svg");
  }

  &__link-direction-out {
    -webkit-mask-image: url("@images/direction-out.svg");
    mask-image: url("@images/direction-out.svg");
  }

  &__criterion-remove {
    float: right;
    margin: 0 10px 4px 4px;
  }
  &__criterion-remove-button {
    &::before {
      @include codicon("close");
    }
  }

  &__text-criteria { margin: 0 10px; }

  &__search-button {
    height: 34px;

    &::before {
      @include codicon("search");
    }
  }

  &__rest {
    padding: 10px 10px 0 10px;
    border-top: 1px solid $theme-border-color-base;
  }

  &__results {
    padding-left: 0;
    padding-top: 10px;
    margin: 0 10px 0 10px;
    outline: none;
  }

  &__rest-end { margin: 5px 0 10px 0; }
  &__load-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      @include codicon("chevron-down");
      margin-right: 5px;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: $theme-spacing-horizontal;
    height: 40px;
    border-top: 1px solid $theme-border-color-base;
    transition: height 200ms 0ms;
  }

  &__actions-hidden {
    height: 0;
    padding: 0;
    visibility: hidden;
  }

  &__action {
    padding-top: 1px;
    padding-bottom: 2px;

    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    &:last-child {
      margin-right: 6px;
    }
  }
}
