@import "../mixin/icons";
@import "../theme/variables";

.reactodia-links-toolbox {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  &__heading {
    padding: 10px;
  }

  &__filter {
    margin-bottom: 5px;
  }

  &__rest {
    border-top: 1px solid $theme-border-color-base;
    flex: auto;
    display: flex;
    flex-direction: column;
  }

  &__toggle-invisible::before {
    @include codicon("eye-closed");
  }

  &__toggle-lines-only::before {
    @include codicon("arrow-both");
  }

  &__toggle-visible::before {
    @include codicon("eye");
  }

  &__links-heading {
    font-size: 14px;
    margin: 4px 6px;
    font-weight: bold;
    > * { font-weight: normal; }
  }

  &__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link-item {
    padding: 0 0 0 5px;
    word-break: break-word;

    &:last-child {
      margin-bottom: 0;
    }
  
    & > div { display: inline; }
  }

  &__link-title {
    font-size: 16px;
    display: inline;
  }

  &__link-buttons {
    float: left;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 2px;
  }

  &__filter-button {
    display: none;
    float: right;
    width: 20px;
    height: 20px;
    margin: 3px;
  
    -webkit-mask-image: url("@images/add-to-filter.svg");
    mask-image: url("@images/add-to-filter.svg");
    mask-size: 20px 20px;
    background-color: currentColor;
    
    cursor: pointer;
    opacity: 0.4;
    transition: opacity $theme-transition-duration;
  }

  &__link-item:hover &__filter-button {
    opacity: 1.0;
  }

  &__no-results {
    margin-top: 10px;
  }
}
