@use "../theme/theme";

.reactodia-selection {
  position: absolute;

  --reactodia-dock-margin-x: 2px;
  --reactodia-dock-margin-y: 2px;

  &__selectedBox {
    position: absolute;
    background-color: rgba(255, 166, 0, 0.06);
    border: 1px solid orange;
    border-radius: 2px;
    box-shadow: theme.$selection-multiple-box-shadow;
    cursor: move;
    user-select: none;
    -webkit-user-select: none;
  }

  &__selectedActions {
    position: absolute;
  }

  &__selectedItem {
    position: absolute;
    border: 1px dashed orange;
    background-color: rgba(255, 166, 0, 0.16);
  }

  &__highlightedBox {
    position: absolute;
    background-color: rgba(0, 219, 255, 0.13);
    border: 2px dashed rgb(0, 179, 209);
    border-radius: 2px;
  }

  &__highlightedItem {
    position: absolute;
    border: 1px dashed rgb(0, 188, 126);
    background: rgba(0, 188, 126, 0.33);
  }
}
