@import "../theme/variables";

.reactodia-selection-action {
  $buttonWidth: 20px;
  $buttonHeight: 20px;
  $buttonMargin: 2px;

  position: absolute;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0 none;
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: auto;
  width: $buttonWidth;
  height: $buttonHeight;

  filter: $theme-selection-icon-filter;

  opacity: 0.5;
  transition: opacity $theme-transition-duration;
  &:hover {
    opacity: 1;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.2;
  }

  $total-x: $buttonWidth + $buttonMargin;
  $total-y: $buttonHeight + $buttonMargin;
  $margin-x: var(--reactodia-dock-margin-x, 0px);
  $margin-y: var(--reactodia-dock-margin-y, 0px);

  $x-end: calc(-#{$total-x} - #{$margin-x} + var(--reactodia-dock-x) * #{$total-x});
  $y-end: calc(-#{$total-y} - #{$margin-y} + var(--reactodia-dock-y) * #{$total-y});
  $x-middle: calc(-#{($total-x * 0.5)} - #{$margin-x} + var(--reactodia-dock-x) * #{$total-x});
  $y-middle: calc(-#{($total-y * 0.5)} - #{$margin-y} + var(--reactodia-dock-y) * #{$total-y});

  &--dock-nw {
    left: $x-end;
    top: $y-end;
  }

  &--dock-n {
    left: 50%;
    margin-left: $x-middle;
    top: $y-middle;
  }

  &--dock-ne {
    right: $x-end;
    top: $y-end;
  }

  &--dock-e {
    right: $x-end;
    top: 50%;
    margin-top: $y-middle;
  }

  &--dock-se {
    right: $x-end;
    bottom: $y-end;
  }

  &--dock-s {
    left: 50%;
    margin-left: $x-middle;
    bottom: $y-end;
  }

  &--dock-sw {
    left: $x-end;
    bottom: $y-end;
  }

  &--dock-w {
    left: $x-end;
    top: 50%;
    margin-top: $y-middle;
  }

  &__spinner {
    position: absolute;
    width: $buttonWidth;
    height: $buttonHeight;
  }

  &__remove {
    background-image: url("@images/delete.svg");
  }

  &__delete {
    background-image: url("@codicons/trash.svg");
  }

  &__zoomToFit {
    background-image: url("@images/zoom-to-fit.svg");
  }

  &__layout {
    background-image: url("@codicons/type-hierarchy-sub.svg");
  }

  &__expand {
    background-image: url("@codicons/chevron-down.svg");
  }

  &__collapse {
    background-image: url("@codicons/chevron-up.svg");
  }

  &__link {
    background-image: url("@codicons/link.svg");
  }

  &__navigate-open {
    background-image: url("@codicons/compass.svg");
  }

  &__navigate-close {
    background-image: url("@codicons/error.svg");
  }

  &__add-to-filter {
    background-image: url("@images/add-to-filter.svg");
  }

  &__group {
    background-image: url("@codicons/group-by-ref-type.svg");
  }

  &__ungroup {
    background-image: url("@codicons/ungroup-by-ref-type.svg");
  }

  &__establish-link {
    background-image: url("@codicons/plug.svg");
  }
}
