$toolbarHeight: 30px;

.reactodia-toolbar-action {
  &__open {
    @include codicon-button("folder-opened");
  }

  &__open-input {
    display: none;
  }

  &__save {
    @include codicon-button("save");
  }

  &__clear-all {
    @include codicon-button("trash");
  }

  &__export-image {
    @include codicon-button("file-media");
  }

  &__print {
    @include codicon-button("file-pdf");
  }  

  &__undo:empty {
    &::before {
      @include codicon("discard");
      width: 18px;
      height: 18px;
    }
  }

  &__undo:not(:empty) {
    @include codicon-button("discard");
  }

  &__redo:empty {
    &::before {
      @include codicon("redo");
      width: 18px;
      height: 18px;
    }
  }

  &__redo:not(:empty) {
    @include codicon-button("redo");
  }

  &__layout {
    margin-right: 5px;
    @include codicon-button("type-hierarchy-sub");
  }

  &__language-selector {
    float: left;
    position: relative;
    height: $toolbarHeight;
    background: white;
    border: 1px solid #ccc;
    padding: 0 5px;

    display: flex;
    align-items: center;

    select {
      color: inherit;
      margin: 0;
      font: inherit;
      line-height: inherit;
    }

    label {
      display: inline-block;
      margin-right: 5px;

      &::before {
        @include codicon("globe");
      }
    }
  }
}
