@import "../mixin/icons";
@import "../mixin/zIndex";

.reactodia-toolbar {
  /* Prevent buttons to wrap after menu button if width is too small */
  white-space: nowrap;

  /* Make transparent toolbar parts "click-through" while keeping buttons clickable */
  pointer-events: none;
  > * {
    pointer-events: auto;
    white-space: normal;
  }

  &__menu {
    margin-right: 5px;
    z-index: $z-index-toolbar-menu;
  }
}
