@import "../theme/variables";

.reactodia-toolbar-action {
  &__open {
    @include codicon-button("folder-opened");
  }

  &__open-input {
    display: none;
  }

  &__save {
    @include codicon-button("save");
  }

  &__clear-all {
    @include codicon-button("trash");
  }

  &__export-image {
    @include codicon-button("file-media");
  }

  &__print {
    @include codicon-button("file-pdf");
  }  

  &__undo:empty {
    &::before {
      @include codicon("discard");
      width: 18px;
      height: 18px;
    }
  }

  &__undo:not(:empty) {
    @include codicon-button("discard");
  }

  &__redo:empty {
    &::before {
      @include codicon("redo");
      width: 18px;
      height: 18px;
    }
  }

  &__redo:not(:empty) {
    @include codicon-button("redo");
  }

  &__layout {
    @include codicon-button("type-hierarchy-sub");
  }

  .reactodia-toolbar__quick-access-group &__layout {
    margin-right: 5px;
  }

  &__language-selector {
    float: left;
    position: relative;
    height: $theme-toolbar-height;
    background: $theme-button-default-background-color;
    border: $theme-button-border-width solid $theme-button-default-border-color;
    border-radius: $theme-button-border-radius;
    padding: 0 5px;

    display: flex;
    align-items: center;

    &:focus-within {
      border-color: $theme-input-border-color-focus;
    }

    select {
      height: $theme-toolbar-height;
      background-color: $theme-button-default-background-color;
      border: none;
      outline: none;
      color: inherit;
      margin: 0;
      font: inherit;
      line-height: inherit;
      height: calc($theme-toolbar-height - 4px);
    }

    label {
      display: inline-block;
      margin-right: 5px;

      &::before {
        @include codicon("globe");
      }
    }
  }
}
