@import "../mixin/icons";
@import "../theme/variables";

.reactodia-zoom-control {
  display: flex;
  flex-direction: column;
  box-shadow: $theme-canvas-box-shadow;

  .reactodia-btn {
    padding: 3px;
    border-radius: unset;
  }

  .reactodia-btn + .reactodia-btn {
    margin-top: calc(-1 * $theme-button-border-width);
  }

  > .reactodia-btn:first-child {
    border-top-left-radius: $theme-button-border-radius;
    border-top-right-radius: $theme-button-border-radius;
  }

  > .reactodia-btn:last-child {
    border-bottom-left-radius: $theme-button-border-radius;
    border-bottom-right-radius: $theme-button-border-radius;
  }

  &__zoom-in-button {
    &::before {
      @include codicon("zoom-in");
    }
  }

  &__zoom-out-button {
    &::before {
      @include codicon("zoom-out");
    }
  }

  &__zoom-fit-button {
    &::before {
      @include icon("@images/zoom-to-fit.svg");
    }
  }

  &__selection-mode-button {
    &::before {
      @include codicon("inspect");
    }
  }
}
