@import "../mixin/icons";

.reactodia-zoom-control {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px 7px rgba(51, 51, 51, 0.05);

  .reactodia-btn {
    padding: 3px;
  }

  .reactodia-btn + .reactodia-btn {
    margin-top: -1px;
  }

  &__zoom-in-button {
    &::before {
      @include codicon("zoom-in");
    }
  }

  &__zoom-out-button {
    &::before {
      @include codicon("zoom-out");
    }
  }

  &__zoom-fit-button {
    &::before {
      @include icon("@images/zoom-to-fit.svg");
    }
  }
}
