.pageSelector {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 2px 10px;
  z-index: 100;
}

.colorSchemeToggle,
.borderRadiusToggle {
  position: absolute;
  width: 26px;
  height: 24px;
  z-index: 100;
}

.colorSchemeToggle {
  top: 40px;
  right: 15px;
}

.borderRadiusToggle {
  top: 40px;
  right: 45px;
}

:root[data-border-radius-zero] :global(.reactodia-workspace) {
  --reactodia-border-radius-base: unset;
}
