<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <style>
        html, body, #root {
            height: 100dvh;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        #reactodia-example-selector {
            position: absolute;
            top: 10px;
            right: 15px;
            padding: 2px 10px;
            z-index: 100;
        }
        .example-style-toggle {
            position: absolute;
            width: 26px;
            height: 24px;
            z-index: 100;
        }
        #reactodia-example-color-scheme-toggle {
            top: 40px;
            right: 15px;
        }
        #reactodia-example-border-radius-toggle {
            top: 40px;
            right: 45px;
        }
        :root[data-border-radius-zero] .reactodia-workspace {
            --reactodia-border-radius-base: unset;
        }
    </style>
    <body>
        <select id="reactodia-example-selector"
            title="Change active example"
            onchange="window.location.href = this.value">
            <% for (var key of EXAMPLES) { %>
                <option value="<%- key %>.html"><%- key %></option>
            <% } %>
        </select>
        <button id="reactodia-example-color-scheme-toggle"
            class="example-style-toggle"
            title="Toggle light or dark color scheme">
        </button>
        <button id="reactodia-example-border-radius-toggle"
            class="example-style-toggle"
            title="Toggle global border radius style">
        </button>
        <script>
            // Example selector
            var pathname = window.location.pathname;
            var separatorIndex = pathname.lastIndexOf('/');
            var page = separatorIndex >= 0 ? pathname.substring(separatorIndex + 1) : pathname;
            document.getElementById('reactodia-example-selector').value = page || 'index.html';

            // Color scheme toggle
            var colorSchemeToggle = document.getElementById('reactodia-example-color-scheme-toggle');
            colorSchemeToggle.addEventListener('click', () => {
                document.documentElement.setAttribute('data-theme', isDarkColorScheme() ? 'light' : 'dark');
                updateColorSchemeToggle();
            });

            const isDarkColorQuery = window.matchMedia('(prefers-color-scheme: dark)');
            isDarkColorQuery.addEventListener('change', () => {
                document.documentElement.removeAttribute('data-theme');
                updateColorSchemeToggle();
            });

            function isDarkColorScheme() {
                return (
                    document.documentElement.getAttribute('data-theme') === 'dark' ||
                    isDarkColorQuery.matches
                );
            }    

            function updateColorSchemeToggle() {
                colorSchemeToggle.innerText = isDarkColorScheme() ? '☽' : '☼';
            }

            updateColorSchemeToggle();                    

            // Border radius toggle
            var borderRadiusToggle = document.getElementById('reactodia-example-border-radius-toggle');
            borderRadiusToggle.addEventListener('click', () => {
                if (hasBorderRadiusZero()) {
                    document.documentElement.removeAttribute('data-border-radius-zero');
                } else {
                    document.documentElement.setAttribute('data-border-radius-zero', 'true');
                }
                updateBorderRadiusToggle();
            });
            updateBorderRadiusToggle();

            function updateBorderRadiusToggle() {
                borderRadiusToggle.innerText = hasBorderRadiusZero() ? '▭' : '◯';
            }

            function hasBorderRadiusZero() {
                return document.documentElement.hasAttribute('data-border-radius-zero');
            }
        </script>
    </body>
</html>
