<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <style>
        html, body, #root {
            height: 100dvh;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        #reactodia-example-selector {
            position: absolute;
            top: 10px;
            right: 15px;
            padding: 2px 10px;
            z-index: 100;
        }
    </style>
    <body>
        <select id="reactodia-example-selector"
            title="Change active example"
            onchange="window.location.href = this.value">
            <% for (var key of EXAMPLES) { %>
                <option value="<%- key %>.html"><%- key %></option>
            <% } %>
        </select>
        <script>
            var pathname = window.location.pathname;
            var separatorIndex = pathname.lastIndexOf('/');
            var page = separatorIndex >= 0 ? pathname.substring(separatorIndex + 1) : pathname;
            document.getElementById('reactodia-example-selector').value = page || 'index.html';
        </script>
    </body>
</html>
