@import "./common";

.reactodia-workspace[data-theme=light] {
  @include theme-common;

  --reactodia-color-emphasis-0: var(--reactodia-color-gray-0);
  --reactodia-color-emphasis-100: var(--reactodia-color-gray-100);
  --reactodia-color-emphasis-200: var(--reactodia-color-gray-200);
  --reactodia-color-emphasis-300: var(--reactodia-color-gray-300);
  --reactodia-color-emphasis-400: var(--reactodia-color-gray-400);
  --reactodia-color-emphasis-500: var(--reactodia-color-gray-500);
  --reactodia-color-emphasis-600: var(--reactodia-color-gray-600);
  --reactodia-color-emphasis-700: var(--reactodia-color-gray-700);
  --reactodia-color-emphasis-800: var(--reactodia-color-gray-800);
  --reactodia-color-emphasis-900: var(--reactodia-color-gray-900);
  --reactodia-color-emphasis-1000: var(--reactodia-color-gray-1000);

  --reactodia-color-content: var(--reactodia-color-emphasis-900);
  --reactodia-color-content-inverse: var(--reactodia-color-emphasis-0);

  --reactodia-color-background: var(--reactodia-color-emphasis-0);
  --reactodia-color-background-surface: var(--reactodia-color-content-inverse);

  --reactodia-input-color: #555;

  --reactodia-button-default-background-color: var(--reactodia-color-background-surface);
  --reactodia-button-default-background-color-active: #e0e0e0;
  --reactodia-button-default-background-color-focus: #d4d4d4;
  --reactodia-button-default-border-color: #cccccc;
  --reactodia-button-default-color: #333333;
  --reactodia-button-default-color-focus: var(--reactodia-button-default-color);

  --reactodia-element-background-color: #fafaf9;
  --reactodia-link-stroke-color: var(--reactodia-color-emphasis-1000);
}
