@import "../theme/variables";

.reactodia-authoring-state {
  &__element-outlines {
    position: absolute;
    pointer-events: none;
    overflow: visible;
  }

  &__outline-overlay {
    fill: $theme-color-emphasis-0;
    fill-opacity: 0.3;
  }

  &__outline-stripe-line {
    stroke: $theme-color-emphasis-300;
    stroke-width: 10;
    stroke-opacity: 0.2;
  }

  &__outline-cross-line {
    stroke: $theme-color-danger;
  }

  &__item-validation {
    align-self: flex-end;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    cursor: help;
  }

  &__item-validation-icon {
    height: 15px;
    width: 17px;
  }

  &--severity-info &__item-validation-icon {
    background: $theme-color-info;
    -webkit-mask: url("@codicons/info.svg");
    mask: url("@codicons/info.svg");
  }

  &--severity-warning &__item-validation-icon {
    background: $theme-color-warning;
    -webkit-mask: url("@codicons/warning.svg");
    mask: url("@codicons/warning.svg");
  }

  &--severity-error &__item-validation-icon {
    background: $theme-color-danger;
    -webkit-mask: url("@codicons/warning.svg");
    mask: url("@codicons/warning.svg");
  }

  &__state-label {
    font-weight: bold;
    margin-right: 5px;
  }

  &__state-cancel {
    color: $theme-color-primary;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__state-indicator {
    position: absolute;
  }
  &__state-indicator-container {
    position: relative;
  }
  &__state-indicator-body {
    position: absolute;
    white-space: nowrap;
    display: flex;
    align-items: center;
    bottom: 0;
    background: $theme-canvas-overlay-color;
    border-radius: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}
