@use "../mixin/icons" as *;
@use "../theme/theme";

.reactodia-authoring-state {
  &__element-outlines {
    position: absolute;
    pointer-events: none;
    overflow: visible;
  }

  &__outline-overlay {
    fill: theme.$color-emphasis-0;
    fill-opacity: 0.3;
  }

  &__outline-stripe-line {
    stroke: theme.$color-emphasis-300;
    stroke-width: 10;
    stroke-opacity: 0.2;
  }

  &__outline-cross-line {
    stroke: theme.$color-danger;
  }

  &__link-temporary,
  &__link-added,
  &__link-changed,
  &__link-deleted,
  &__link-uncertain {
    stroke-width: 5;
    stroke-opacity: 0.5;
    fill: none;
  }

  &__link-temporary {
    stroke: theme.$color-gray-600;
    stroke-dasharray: 8 8;
  }

  &__link-added {
    stroke: theme.$color-success;
  }

  &__link-changed {
    stroke: theme.$color-primary;
  }

  &__link-deleted {
    stroke: theme.$color-danger;
  }

  &__link-uncertain {
    stroke: theme.$color-primary;
  }

  &__item-validation {
    align-self: flex-end;
    display: flex;
    align-items: center;
    cursor: help;
  }

  &__item-validation-icon {
    height: 15px;
    width: 17px;
    mask-repeat: no-repeat;
  }

  &--severity-info &__item-validation-icon {
    background: theme.$color-info;
    -webkit-mask-image: url("@codicons/info.svg");
    mask-image: url("@codicons/info.svg");
  }

  &--severity-warning &__item-validation-icon {
    background: theme.$color-warning;
    -webkit-mask-image: url("@codicons/warning.svg");
    mask-image: url("@codicons/warning.svg");
  }

  &--severity-error &__item-validation-icon {
    background: theme.$color-danger;
    -webkit-mask-image: url("@codicons/warning.svg");
    mask-image: url("@codicons/warning.svg");
  }

  &__state-label {
    font-weight: bold;
  }

  &__state-indicator {
    position: relative;
  }
  &__state-indicator-body {
    position: absolute;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: theme.$spacing-horizontal;
    bottom: 0;
    background: theme.$canvas-underlay-color;
    border-radius: theme.$border-radius-s;
    padding: 1px;
    height: 22px;
  }

  &__actions {
    display: flex;
    gap: theme.$spacing-horizontal;
  }

  &__action {
    background: none;
    border: 0 none;
    padding: 0;
    cursor: pointer;

    opacity: 0.5;
    transition: opacity theme.$transition-duration;
    &:hover {
      opacity: 1;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }

  &__action-edit {
    @include codicon-button("edit");
  }

  &__action-delete {
    @include codicon-button("trash");
  }

  &__action-discard {
    @include codicon-button("discard");
  }

  &__decorator &__state-indicator {
    transition: opacity theme.$transition-duration;
  }

  &__decorator--optional &__state-indicator {
    opacity: 0;
  }

  .reactodia-overlaid-element:hover + .reactodia-element-decorations &__state-indicator,
  &__decorator--selected &__state-indicator,
  &__decorator:hover &__state-indicator {
    opacity: 1;
  }
}
