@import "../theme/variables";

.reactodia-authoring-state {
  &__element-outlines {
    position: absolute;
    pointer-events: none;
    overflow: visible;
  }

  &__outline-overlay {
    fill: $theme-color-emphasis-0;
    fill-opacity: 0.3;
  }

  &__outline-stripe-line {
    stroke: $theme-color-emphasis-300;
    stroke-width: 10;
    stroke-opacity: 0.2;
  }

  &__outline-cross-line {
    stroke: $theme-color-danger;
  }

  &__link-temporary,
  &__link-added,
  &__link-changed,
  &__link-deleted,
  &__link-uncertain {
    stroke-width: 5;
    stroke-opacity: 0.5;
    fill: none;
  }

  &__link-temporary {
    stroke: $theme-color-gray-600;
    stroke-dasharray: 8 8;
  }

  &__link-added {
    stroke: $theme-color-success;
  }

  &__link-changed {
    stroke: $theme-color-primary;
  }

  &__link-deleted {
    stroke: $theme-color-danger;
  }

  &__link-uncertain {
    stroke: $theme-color-primary;
  }

  &__item-validation:not(:first-child) {
    margin-left: 5px;
  }

  &__item-validation {
    align-self: flex-end;
    display: flex;
    align-items: center;
    cursor: help;
  }

  &__item-validation-icon {
    height: 15px;
    width: 17px;
    mask-repeat: no-repeat;
  }

  &--severity-info &__item-validation-icon {
    background: $theme-color-info;
    -webkit-mask-image: url("@codicons/info.svg");
    mask-image: url("@codicons/info.svg");
  }

  &--severity-warning &__item-validation-icon {
    background: $theme-color-warning;
    -webkit-mask-image: url("@codicons/warning.svg");
    mask-image: url("@codicons/warning.svg");
  }

  &--severity-error &__item-validation-icon {
    background: $theme-color-danger;
    -webkit-mask-image: url("@codicons/warning.svg");
    mask-image: url("@codicons/warning.svg");
  }

  &__state-label {
    font-weight: bold;
    margin-right: 5px;
  }

  &__state-cancel {
    color: $theme-color-primary;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__state-indicator {
    position: absolute;
  }
  &__state-indicator-container {
    position: relative;
  }
  &__state-indicator-body {
    position: absolute;
    white-space: nowrap;
    display: flex;
    align-items: center;
    bottom: 0;
    background: $theme-canvas-underlay-color;
    border-radius: 2px;
    padding: 1px;
  }
}
