@use "../theme/theme";

.reactodia-edit-entity-form {
  &--loading {
    align-items: center;
    justify-content: center;
  }

  label .reactodia-form-control + .reactodia-form-control {
    margin-top: theme.$spacing-vertical;
  }
}
