@import "../mixin/zIndex";
@import "../theme/variables";

.reactodia-loading-widget {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $theme-color-emphasis-1000;
  background-color: $theme-canvas-overlay-color;
  z-index: $z-index-loading-widget;
}
