@import "../mixin/z-index";
@import "../theme/variables";

.reactodia-loading-widget {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $reactodia-color-emphasis-1000;
  background: $reactodia-background-color;
  opacity: 0.9;
  z-index: $z-index-loading-widget;
}
