@use "../mixin/zIndex";
@use "../theme/theme";

.reactodia-viewport-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: theme.$canvas-overlay-color;
}

.reactodia-loading-widget {
  margin: auto;
  color: theme.$color-emphasis-1000;
  z-index: zIndex.$loading-widget;
}

.reactodia-viewport-dialog-overlay {
  z-index: zIndex.$viewport-dialog;
}
