@use "../mixin/icons" as *;
@use "../theme/theme";

.reactodia-property-input-list {
  &__row {
    display: flex;
    gap: theme.$spacing-horizontal;
  }

  &__row + &__row {
    margin-top: theme.$spacing-vertical;
  }

  &__value-remove {
    @include codicon-button("trash");
    align-self: flex-start;
    border: none;
    height: 34px;
    padding: 6px 4px;
  }

  &__value-add {
    @include codicon-button("add");
    padding: 6px;
  }
}

.reactodia-property-input-text {
  &__language {
    width: unset;
    padding: 0 2px;
  }
}

textarea.reactodia-property-input-text {
  height: 4em;
  resize: vertical;
}
